$medium-devices: 768px;
$small-devices: 480px;
$extra-small-devices: 320px;

@mixin Clear {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
@mixin Normal {
    /*font-family:"ManropeL", "NotoL", serif;*/
    font-family: 'SpoqaL', serif;
    font-weight: normal;
}
@mixin Bold {
    /*font-family:"ManropeB", "NotoM", serif;*/
    font-family: 'SpoqaB', serif;
    font-weight: normal;
}

@mixin MixBlendMode {
    mix-blend-mode: multiply;
    img {
        mix-blend-mode: multiply;
    }
}

@mixin NoscrollBar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0;
        height: 0;
        display: none;
    }
}

@mixin Vertical-inline {
    display: inline-block;
    vertical-align: middle;
}

@mixin Align-box {
    display: flex;
    flex-wrap: wrap;
}

@mixin Align-box-left {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
}

@mixin Align-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin Align-middle-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
@mixin Align-left-column {
    display: flex;
    flex-flow: column;
}
@mixin Align-middle-left {
    display: flex;
    align-items: center;
}
@mixin Align-middle-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@mixin Align-top-left {
    display: flex;
    align-items: flex-start;
    justify-content: left;
}
@mixin Align-bottom-middle {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
@mixin Align-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin Align-between-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@mixin Inline-align-middle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@mixin Inline-align-top {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
}

/*인라인 가로스크롤*/
@mixin Inline-scrolling {
    box-sizing: border-box;
    font-size: 0;
    overflow-x: visible;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    padding-bottom: 0.2rem;
}

//cover그라디언트
@mixin CoverImg($radius: 1rem, $color: rgba(0, 0, 0, 0.1)) {
    position: relative;
    &:before {
        @include Position($top: 0, $left: 0);
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: $radius;
        background-color: $color;
    }
}

/*폰트만 삭제시킴*/
@mixin Hide_txt {
    font: 0/0 a;
}

@mixin Hidden {
    position: absolute;
    font: 0/0 a;
    visibility: hidden;
}

@mixin BreakWord {
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}

/*투명도 믹스인*/
@mixin Opacity($opacity) {
    opacity: $opacity; /* All modern browsers */
    $opacityIE: $opacity * 100;
    filter: alpha(opacity=$opacityIE); /* For IE5~IE9 */
}

/*포지션 믹스인*/
//@include Position($top: 0, $left: 0)
@mixin Position($position: absolute, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

/*백그라운드 믹스인*/
//@include Background($sprite:'error', $type:'png', $position:right center); ---  사용법
//@include Background($sprite:'error', $type:'jpg', $y:0); ---  사용법
//@include Background($sprite:'error', $type:'jpg', $position:20% 20%, $size:100%); ---  사용법
@mixin Background($sprite, $type: 'png', $position: 0 0, $size: auto, $path: 'icons') {
    background-repeat: no-repeat;
    background-image: url('../../resources-mo/images/#{$path}/#{$sprite}.#{$type}');
    background-position: $position;
    background-size: $size;
}

/* 말줄임표 */
// 인자 값의 기본 값은 1
// @include Ellipsis($w:100px, $lines:2); --- 사용법
@mixin Ellipsis($w: 100%, $lines: 1, $display: block) {
    @if ($lines == 1) {
        width: $w;
        display: $display;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        width: $w;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical;
        word-break: break-all;
    }
}

/*리셋*/
@mixin ResetStyle($style, $symbol) {
    .#{$symbol}-0 {
        #{$style}: 0 !important;
    }
    .#{$symbol}-5 {
        #{$style}: 0.4rem !important;
    }
    .#{$symbol}-10 {
        #{$style}: 0.9rem !important;
    }
    .#{$symbol}-15 {
        #{$style}: 1.3rem !important;
    }
    .#{$symbol}-20 {
        #{$style}: 1.7rem !important;
    }
    .#{$symbol}-25 {
        #{$style}: 2.1rem !important;
    }
    .#{$symbol}-30 {
        #{$style}: 2.7rem !important;
    }
    .#{$symbol}-35 {
        #{$style}: 3rem !important;
    }
    .#{$symbol}-40 {
        #{$style}: 3.4rem !important;
    }
    .#{$symbol}-45 {
        #{$style}: 3.8rem !important;
    }
    .#{$symbol}-50 {
        #{$style}: 4.2rem !important;
    }
}

/*미디어쿼리 믹스인*/
//@include media( $queryPoint: "(max-width:480px)" ){
//width : 50%;
//}
@mixin media($queryPoint) {
    @media #{ $queryPoint } {
        @content;
    }
}
